{% load static %}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">Match Bets</h1>
    </div>
    <div class="card-body">
        <table class="table match-bets">
            <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Team</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Result</th>
                    <th scope="col">Status</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for bet in match_bets %}
                {% if match.match.entry_cutoff_passed or bet.user == user or not match.match.is_scheduled %}
                <tr>
                    <td>{{bet.user.name}}</td>
                    <td>{{bet.bet_team.shortname}}</td>
                    <td>{{bet.bet_amt}}</td>
                    <td class="{% if bet.win_lose_amt < 0 %} text-danger {% else %} text-success{% endif %}">
                        {{bet.win_lose_amt|floatformat:2}}</td>
                    <td>{{bet.get_status_display}}</td>
                    <td>{{bet.create_upd_time|date:"d M, H:i"}}</td>
                </tr>
                {% endif %}
                {% empty %}
                <tr>
                    <td colspan="5">No Bets Placed Yet</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>